body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.confirmation-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmation-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.confirmation-box p {
    font-size: 18px;
    margin-bottom: 20px;
}
